name: "Update Finityo TREE.md"

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  generate-tree:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Generate TREE.md
        run: |
          node scripts/tree.js

      - name: Commit & Push TREE.md
        run: |
          git config user.name "Finityo Bot"
          git config user.email "bot@finityo.ai"
          git add TREE.md
          git diff --quiet && echo "No changes" || git commit -m "Update TREE.md"
          git push
